## Fetch art piece specific url sites, extract all useful info

In [1]:
from urllib.request import urlopen, URLError
from bs4 import BeautifulSoup
from socket import timeout



base_url = "http://www.haus.ee"

def get_soup(url: str):
    """
    Opens website and makes Soup from it
    """
    page = urlopen(url, timeout=1)
    html = page.read().decode("utf-8")
    soup = BeautifulSoup(html, "html.parser")
    return soup

def get_soup_persistent(url: str):
    """
    Persistently tries to make Soup from given website link. Fixes timeout error
    """
    haus_year_soup = None
    while True:
        try:
            haus_year_soup = get_soup(url)
            return haus_year_soup
        except timeout as e:
            print(e)
        except URLError as e:
            print(e)  
            
def get_haus_auction(auctions):
    """
    param: auctions - specific year auctions (type Soup)
    Finds all auctions all art pieces fields. Stores data as list of dictionaries.
    """
    art_pieces = []
    for auc in auctions:
        auc_url = base_url + auc.a["href"]
        # Connect to website
        haus_auction_soup = get_soup_persistent(auc_url)
        # Auction art pieces
        auction_items = haus_auction_soup.find_all("figure")
        for auc_item in auction_items:
            art_piece_obj = dict()
            fields = auc_item.figcaption.find_all("span")
            for f in fields:
                field_name = f["class"][0]
                art_piece_obj[field_name] = f.get_text()
                
            img_link = auc_item.a.img["src"]
            art_piece_obj["img"] = img_link
            
            auction_name = haus_auction_soup.find("span", {"class":"publ"}).get_text()
            art_piece_obj["auction_name"] = auction_name
            
            art_piece_obj["href"] = auc_item.a["href"]
            art_pieces.append(art_piece_obj)

    return art_pieces

def get_haus_all():
    """
    Finds all years of haus auctions. Finds every year art pieces information
    """
    haus_art_pieces = []
    # all current years
    #TODO: autodetect start and end year
    for year in range(1997, 2022):
        print(year)
        year_url = f"{base_url}/?c=oksjon-toimunud&l=et&y={year}"
        # Connect to website
        haus_year_soup = get_soup_persistent(year_url)
        # Find links to all auctions
        auctions_parent = haus_year_soup.find("div", {"id":"articles_list"})
        auctions = auctions_parent.find_all("article")
        year_art_pieces = get_haus_auction(auctions)
        haus_art_pieces.extend(year_art_pieces)
        
        
    return haus_art_pieces

In [2]:
haus_art_pieces = get_haus_all()

1997
1998
1999
2000
2001
2002
2003
2004
2005
2006
2007
2008
2009
2010
2011
2012
2013
2014
2015
2016
2017
2018
2019
2020
2021

## Example: GET auction art piece information

In [3]:
example_url = "http://www.haus.ee/?c=oksjon-toimunud&l=et&y=1997&id=3"
example_art_pieces = []
example_auction_soup = get_soup(example_url)
auction_items = example_auction_soup.find_all("figure")

for auc_item in auction_items:
    art_piece_obj = dict()
    img_link = auc_item.a.img["src"]
    fields = auc_item.figcaption.find_all("span")
    for f in fields:
        field_name = f["class"][0]
        art_piece_obj[field_name] = f.get_text()
    example_art_pieces.append(art_piece_obj)
print(example_art_pieces)

[{'aut': '0. Evald Okas', 'pealkiri': 'NAINE PAABULINNUGA', 'tech': '1939. Õli, vineer  30 x 38 cm (raamimata)', 'moot': ' 30 x 38 cm', 'alghind': 'Alghind 831', 'lopphind': 'Haamrihind 844'}, {'aut': '0. Karl Burman (seenior)', 'pealkiri': 'TALLINNA RAEKOJA PLATS', 'tech': '1920. Akvarell  32 x 24 cm (raamimata)', 'moot': ' 32 x 24 cm', 'alghind': 'Alghind 499', 'lopphind': 'Haamrihind 499'}]

## Create df

In [46]:
import pandas as pd

df = pd.DataFrame(haus_art_pieces)
print(df.shape)
df.tail()

(3310, 9)

,alghind,auction_name,aut,href,img,lopphind,moot,pealkiri,tech
3305,Alghind 3 200,07.05.2021 18:00,59. Lepo Mikko,?c=teosed&l=et&id=16646&window=1&oid=493&form=0,content/teosed/16646_t.jpg,Haamrihind 5 300,49.5 x 69.8 cm,Kaarnajärv,"1972. Õli, papp 49.5 x 69.8 cm (raamitud)"
3306,Alghind 1 600,07.05.2021 18:00,60. Johannes Võerahansu,?c=teosed&l=et&id=16721&window=1&oid=493&form=0,content/teosed/16721_t.jpg,Haamrihind,Vm 34.3 x 72.2 cm,Lamav poiss,"1975. Süsi, paber Vm 34.3 x 72.2 cm (raamitud)"
3307,Alghind 1 900,07.05.2021 18:00,61. Alfred Kongo,?c=teosed&l=et&id=16658&window=1&oid=493&form=0,content/teosed/16658_t.jpg,Haamrihind 2 900,97 x 84 cm,Natüürmort sibulatega,"1986. Tempera, lõuend 97 x 84 cm (raamitud)"
3308,Alghind 1 700,07.05.2021 18:00,62. Märt Bormeister,?c=teosed&l=et&id=16417&window=1&oid=493&form=0,content/teosed/16417_t.jpg,Haamrihind 5 000,50 x 70 cm,Talvine maastik vana taluga,"1988. Õli, masoniit 50 x 70 cm (raamitud)"
3309,Alghind 2 300,07.05.2021 18:00,63. Evald Okas,?c=teosed&l=et&id=16702&window=1&oid=493&form=0,content/teosed/16702_t.jpg,Haamrihind 14 100,26.5 x 32.3 cm,Aafriklased,"1998. Õli, papp 26.5 x 32.3 cm (raamitud)"

## Clean df, remove unwanted characters

In [47]:
df["title"] = df["pealkiri"]
df["author"] = df["aut"].str.split(".", 1, expand=True)[1]
df["start_price"] = df["alghind"].str.split("hind", 1, expand=True)[1]
df["end_price"] = df["lopphind"].str.split("hind", 1, expand=True)[1]

df["img"] = "/" + df["img"]

df["init_tech"] = df["tech"]
df["year"] = df["tech"].str.extract(r"((19|20)\d{2})", expand=True)[0]
df["year_start"] = df["year"]

df["tech"] = df["tech"].str.split(".", 1, expand=True)[1]

df["tech"] = df["tech"].str.split("x", 1, expand=True)[0].str.strip()
df["tech"] = df["tech"].str.rsplit(" ", 1, expand=True)[0]

for l in ["vm", "plm", "km", "lm", "pl", "Lt", "kj", "Lm", "P", "Vm.", "Km.", "?", "Alu", "Ca", ".", "Ø", "tm", "m", "c"]:
    df["moot"] = df["moot"].str.replace(l, "")
df["moot"] = df["moot"].str.replace(",", ".")

df["size"] = df["moot"].str.split("cm", 1, expand=True)[0]
df["height"] = df["moot"].str.split("x", 2, expand=True)[0]
df["width"] = df["moot"].str.split("x", 2, expand=True)[1]
df["depth"] = df["moot"].str.split("x", 2, expand=True)[2]

df["date"] = df["auction_name"].str.extract(r"(\d{2}\.\d{2}\.(19|20)\d{2})", expand=True)[0]
df["date"] = df["date"].str.extract(r"((19|20)\d{2})")



df.tail()

,alghind,auction_name,aut,href,img,lopphind,moot,pealkiri,tech,title,...,start_price,end_price,init_tech,year,year_start,size,height,width,depth,date
3305,Alghind 3 200,07.05.2021 18:00,59. Lepo Mikko,?c=teosed&l=et&id=16646&window=1&oid=493&form=0,/content/teosed/16646_t.jpg,Haamrihind 5 300,495 x 698,Kaarnajärv,"Õli, papp",Kaarnajärv,...,3 200,5 300,"1972. Õli, papp 49.5 x 69.8 cm (raamitud)",1972,1972,495 x 698,495,698,None,2021
3306,Alghind 1 600,07.05.2021 18:00,60. Johannes Võerahansu,?c=teosed&l=et&id=16721&window=1&oid=493&form=0,/content/teosed/16721_t.jpg,Haamrihind,343 x 722,Lamav poiss,"Süsi, paber Vm",Lamav poiss,...,1 600,,"1975. Süsi, paber Vm 34.3 x 72.2 cm (raamitud)",1975,1975,343 x 722,343,722,None,2021
3307,Alghind 1 900,07.05.2021 18:00,61. Alfred Kongo,?c=teosed&l=et&id=16658&window=1&oid=493&form=0,/content/teosed/16658_t.jpg,Haamrihind 2 900,97 x 84,Natüürmort sibulatega,"Tempera, lõuend",Natüürmort sibulatega,...,1 900,2 900,"1986. Tempera, lõuend 97 x 84 cm (raamitud)",1986,1986,97 x 84,97,84,None,2021
3308,Alghind 1 700,07.05.2021 18:00,62. Märt Bormeister,?c=teosed&l=et&id=16417&window=1&oid=493&form=0,/content/teosed/16417_t.jpg,Haamrihind 5 000,50 x 70,Talvine maastik vana taluga,"Õli, masoniit",Talvine maastik vana taluga,...,1 700,5 000,"1988. Õli, masoniit 50 x 70 cm (raamitud)",1988,1988,50 x 70,50,70,None,2021
3309,Alghind 2 300,07.05.2021 18:00,63. Evald Okas,?c=teosed&l=et&id=16702&window=1&oid=493&form=0,/content/teosed/16702_t.jpg,Haamrihind 14 100,265 x 323,Aafriklased,"Õli, papp",Aafriklased,...,2 300,14 100,"1998. Õli, papp 26.5 x 32.3 cm (raamitud)",1998,1998,265 x 323,265,323,None,2021

## Cleaning and extracting techniques

In [48]:
# extract individual techniques 
tech_prepared = df["tech"].str.lower().str.replace(".", "").str.split(",", expand=True)
for col in tech_prepared:
    tech_prepared[col] = tech_prepared[col].str.strip()
print(tech_prepared.head())

# prepare processing of multiple art piece techniques (one art piece can have multiple tech)
tech_df_1 = tech_prepared[0].str.get_dummies(sep=" ")
tech_df_2 = tech_prepared[1].str.get_dummies(sep=" ")
tech_df_3 = tech_prepared[2].str.get_dummies(sep=" ")
tech_df_4 = tech_prepared[3].str.get_dummies(sep=" ")
tech_df_5 = tech_prepared[4].str.get_dummies(sep=" ")
tech_df_6 = tech_prepared[5].str.get_dummies(sep=" ")
tech_df_list = [tech_df_1, tech_df_2, tech_df_3, tech_df_4, tech_df_5, tech_df_6]

# process techniques (valid/invalid)
tech_uniq_cols = set()
columns_to_remove = ["(", ")", "ï¿½li", "guaï¿½ï¿½", "akrüüllateks", "lï¿½uend"]
for tdf in tech_df_list:
    print(tdf.shape)
    for col in tdf.columns:
        temp_uniq_size = len(tech_uniq_cols)
        if col.strip().isdigit() or len(col) < 3 or any(rem in col for rem in columns_to_remove):
            tdf.drop(col, inplace=True, axis=1)
        else:
            tech_uniq_cols.add(col)
            if len(tech_uniq_cols) == temp_uniq_size:
                tdf.drop(col, inplace=True, axis=1)
tech_df = pd.DataFrame()
for tdf in tech_df_list:
    print(tdf.shape)
    #tech_df = pd.concat([tech_df, tdf], axis=0, sort=True)


for col in sorted(tech_uniq_cols):
    print(col)

# combine tech columns
tech_df = pd.concat([tech_df_1, tech_df_2], axis=1, sort=True)
tech_df = pd.concat([tech_df, tech_df_3], axis=1, sort=True)
tech_df = pd.concat([tech_df, tech_df_4], axis=1, sort=True)
tech_df = pd.concat([tech_df, tech_df_5], axis=1, sort=True)
tech_df = pd.concat([tech_df, tech_df_6], axis=1, sort=True)

tech_df = tech_df.loc[:,~tech_df.columns.duplicated()]

# some manual mapping
tech_df["guašš"] = tech_df[["guašš", "guašs"]].max()
tech_df.drop("guašs", axis=1, inplace=True)

tech_df["tušš"] = tech_df[["tušš", "tuss"]].max()
tech_df.drop("tuss", axis=1, inplace=True)

tech_df.head()

          0       1     2     3     4     5
0       õli  vineer  None  None  None  None
1  akvarell    None  None  None  None  None
2       õli  lõuend  None  None  None  None
3       õli    papp  None  None  None  None
4  puulõige    None  None  None  None  None
Empty DataFrame
Columns: [alghind, auction_name, aut, href, img, lopphind, moot, pealkiri, tech, title, author, start_price, end_price, init_tech, year, year_start, size, height, width, depth, date]
Index: []

[0 rows x 21 columns]
(3310, 135)
(3310, 102)
(3310, 40)
(3310, 11)
(3310, 4)
(3310, 1)
(3310, 111)
(3310, 39)
(3310, 8)
(3310, 2)
(3310, 1)
(3310, 0)
akrüül
akvarell
akvatinta
alu
autolito
autoritehnika
awagami
bituumen
carborundum
diatüüpia
digiprint
digitaalne
digitrükk
dubleeritud
email
foto
giclee
graafika
grafiit
guašs
guašš
hanga
itaalia
joonistus
kardinapits
kartong
kartongil
kartongtrükk
kastitaolises
keraamika
kips
kipsvaland
kivilito
klaas
klaaskiudkangas
kleebitud
klišee
kolaaž
kollaaž
kollaaž;
koloreeritud
kooritud
kriidiga
kriit
kuivnõel
kuldamine
käärilõige
kõrg-
kõrgtrükk
lametrükk
lateks
lehtkuld
liiv
linool
linoolgravüür
linooll
linoollõige
linoolsügavtrükk
lito
litograafia
lõued
lõuend
lõuendil
lõuendpapil
made
marais´paber
marker
masoniit
metall
metallplaat
metsotinto
moku
monoprint
monotüüpia
must
ofort
ofset-lito
oksüdograafia
paber
paberil
paberkollaaž
papil
papile
papp
parketeeritud
pastapliiats
pastel
pastell
pber
pehmelakk
pinnas
plastikaatlõige
pleksiklaas
pliiats
plm
polüvinüül
press-süsi
print
pronks
pruun
puidul
puit
puitplaadile
puitplaat
puitraamis
punane
puu
puugravüü
puugravüür
puugravüüri
puugravüürid
puulõige
pärgament
ready
reservaaž
rulett
sangviin
seepia
segatehnika
serigraafia
siiditrükk
sinine
sulejoonistus
sulg
sõeltehnika
söejoonistus
söövitus
sügavtrükk
süsi
teega
tekstiil
tempera
terrakota
tindiprint
tinditrükk
tint
toonitud
toonlito
tuss
tušš
tuššijoonistus
vasegravüür
vaselõige
vasesöövitus
viievärviline
viltpliiats
vineer
vineeril
vineerilõige
vitrograafia
värv
värviline
värvilised
värvimullad
värvipliiats
värvpliiats
xerolito
õli
õlikriit
õlipastell
ülekanne

,akrüül,akvarell,akvatinta,autolito,autoritehnika,awagami,diatüüpia,digiprint,digitaalne,digitrükk,...,kardinapits,klišee,kuldamine,marais´paber,pber,puitplaadile,seepia,klaas,värvimullad,pinnas
0,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
2,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
4,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

## Simple test for check if data is clean

In [49]:
def test_data_clean(initial_df):
    test_df = pd.DataFrame(initial_df)
    print("###", "author", "###")
    for name in test_df["author"]:
        if pd.isnull(name) or "," in name:
            print(name)
    # Number fields to numeric
    for col in ["start_price", "end_price", "height", "width", "depth", "year_start", "date"]:
        test_df[col] = pd.to_numeric(test_df[col].str.replace(" ", ""), errors="coerce", downcast="integer")
        error_rows = test_df[test_df[col].isnull()]
        if col == "start_price":
            error_rows = error_rows.loc[(error_rows["alghind"].str.replace(" ", "") != "Alghind") & (error_rows["alghind"].str.replace(" ", "") != "")]
        if col == "end_price":
            error_rows = error_rows.loc[(error_rows["lopphind"].str.replace(" ", "") != "Haamrihind") & (error_rows["lopphind"].str.replace(" ", "") != "")]
        if col == "height" or col == "width":
            error_rows = error_rows.loc[(error_rows["size"].str.replace(" ", "") != "") & (error_rows["lopphind"].str.count("x") == 2)]
        if col == "depth":
            error_rows = error_rows.loc[(error_rows[col].isnull()) & (error_rows["lopphind"].str.count("x") == 2)]
        if col == "year_start":
            error_rows = error_rows.loc[(error_rows["init_tech"].str.contains("((19|20)\d{2})"))]
        # Print rows with problems
        print("###", col, "###")
        for index, val in error_rows.iterrows():
            print(val)     
            print()

    return test_df
tested_df = test_data_clean(df)
tested_df.head(11)

### author ###
### start_price ###
### end_price ###
### height ###
### width ###
### depth ###
### year_start ###
### date ###

<ipython-input-49-e69ce0b56732>:22: UserWarning: This pattern has match groups. To actually get the groups, use str.extract.
  error_rows = error_rows.loc[(error_rows["init_tech"].str.contains("((19|20)\d{2})"))]

,alghind,auction_name,aut,href,img,lopphind,moot,pealkiri,tech,title,...,start_price,end_price,init_tech,year,year_start,size,height,width,depth,date
0,Alghind 831,20.11.1997 14:01-20.11.1997 00:00,0. Evald Okas,?c=teosed&l=et&id=2512&window=1&oid=3&form=0,/content/teosed/2512_t.jpg,Haamrihind 844,30 x 38,NAINE PAABULINNUGA,"Õli, vineer",NAINE PAABULINNUGA,...,831.0,844.0,"1939. Õli, vineer 30 x 38 cm (raamimata)",1939,1939.0,30 x 38,30.0,38.0,NaN,1997
1,Alghind 499,20.11.1997 14:01-20.11.1997 00:00,0. Karl Burman (seenior),?c=teosed&l=et&id=2433&window=1&oid=3&form=0,/content/teosed/2433_t.jpg,Haamrihind 499,32 x 24,TALLINNA RAEKOJA PLATS,Akvarell,TALLINNA RAEKOJA PLATS,...,499.0,499.0,1920. Akvarell 32 x 24 cm (raamimata),1920,1920.0,32 x 24,32.0,24.0,NaN,1997
2,Alghind 1 074,26.10.1998 14:16,0. Valerian Loik,?c=teosed&l=et&id=2489&window=1&oid=5&form=0,/content/teosed/2489_t.jpg,Haamrihind 1 074,89 x 73,NATÜÜRMORT SIDRUNITEGA,"Õli, lõuend",NATÜÜRMORT SIDRUNITEGA,...,1074.0,1074.0,"1970. Õli, lõuend 89 x 73 cm (raamimata)",1970,1970.0,89 x 73,89.0,73.0,NaN,1998
3,Alghind 1 176,26.10.1998 14:16,0. Roman Nyman,?c=teosed&l=et&id=2509&window=1&oid=5&form=0,/content/teosed/2509_t.jpg,Haamrihind 1 176,26 x 41,MAASTIK TALUMAJAGA,"Õli, papp",MAASTIK TALUMAJAGA,...,1176.0,1176.0,"1940. Õli, papp 26 x 41 cm (raamimata)",1940,1940.0,26 x 41,26.0,41.0,NaN,1998
4,Alghind 230,26.10.1998 14:16,0. Eduard Wiiralt,?c=teosed&l=et&id=2568&window=1&oid=5&form=0,/content/teosed/2568_t.jpg,Haamrihind 556,14 x 10,Puulõike sünd,puulõige,Puulõike sünd,...,230.0,556.0,1936. puulõige 14 x 10 cm (raamimata),1936,1936.0,14 x 10,14.0,10.0,NaN,1998
5,Alghind 920,26.10.1998 14:16,0. Aino Bach,?c=teosed&l=et&id=2428&window=1&oid=5&form=0,/content/teosed/2428_t.jpg,Haamrihind 920,,ILLUSTRATSIOONID M. RAUA “VALITUD LUULETUSTELE,"Ofort, akvatinta",ILLUSTRATSIOONID M. RAUA “VALITUD LUULETUSTELE,...,920.0,920.0,"1946. Ofort, akvatinta (raamimata)",1946,1946.0,,NaN,NaN,NaN,1998
6,Alghind 831,26.10.1998 14:16,0. Aino Bach,?c=teosed&l=et&id=2429&window=1&oid=5&form=0,/content/teosed/2429_t.jpg,Haamrihind 831,55 x 45,LAPSED,Monotüüpia,LAPSED,...,831.0,831.0,1950. Monotüüpia 55 x 45 cm (raamimata),1950,1950.0,55 x 45,55.0,45.0,NaN,1998
7,Alghind 1 150,26.10.1998 14:16,0. Eduard Kutsar,?c=teosed&l=et&id=2477&window=1&oid=5&form=0,/content/teosed/2477_t.jpg,Haamrihind 1 150,58 x 71,SUVI,"Õli, lõuend",SUVI,...,1150.0,1150.0,"1950. Õli, lõuend 58 x 71 cm (raamimata)",1950,1950.0,58 x 71,58.0,71.0,NaN,1998
8,Alghind 575,26.10.1998 14:16,0. Richard Sagrits,?c=teosed&l=et&id=2530&window=1&oid=5&form=0,/content/teosed/2530_t.jpg,Haamrihind 671,35 x 49,LAMAV AKT,"Õli, papp",LAMAV AKT,...,575.0,671.0,"1958. Õli, papp 35 x 49 cm (raamimata)",1958,1958.0,35 x 49,35.0,49.0,NaN,1998
9,Alghind 1 470,26.10.1998 14:16,0. Oskar Raunam,?c=teosed&l=et&id=2523&window=1&oid=5&form=0,/content/teosed/2523_t.jpg,Haamrihind 1 643,61 x 46,LILLED AKNAL,"Õli, lõuend",LILLED AKNAL,...,1470.0,1643.0,"1941. Õli, lõuend 61 x 46 cm (raamimata)",1941,1941.0,61 x 46,61.0,46.0,NaN,1998
10,Alghind 1 342,26.10.1998 14:16,0. Günther Reindorff,?c=teosed&l=et&id=2524&window=1&oid=5&form=0,/content/teosed/2524_t.jpg,Haamrihind 1 342,,"KUIVANUD MÄNNIOKS”,”MÄND”,”MÄNNIOKS",Tint,"KUIVANUD MÄNNIOKS”,”MÄND”,”MÄNNIOKS",...,1342.0,1342.0,dateerimata. Tint (raamimata),NaN,NaN,,NaN,NaN,NaN,1998

In [50]:
columns = list(df.columns)
print(columns)

['alghind', 'auction_name', 'aut', 'href', 'img', 'lopphind', 'moot', 'pealkiri', 'tech', 'title', 'author', 'start_price', 'end_price', 'init_tech', 'year', 'year_start', 'size', 'height', 'width', 'depth', 'date']

## Analyse data fields (not needed)

In [9]:
haus = ['start_price', 'auction_name', 'author', 'src', 'img', 'end_price', 'size', 'title', 'tech', 'year', 'pikkus', 'laius']
vaal = ['start_price', 'author', 'auction_name', 'Kirjeldus', 'end_price', 'size', 'img', 'tech', 'title', 'src', 'year', 'author_years']
vern = ['author', 'title', 'year', 'tech', 'size', 'start_price', 'end_price', 'src', 'img']

In [10]:
all_fields = set()
all_fields.update(haus)
all_fields.update(vaal)
all_fields.update(vern)

print(all_fields)
all_fields.remove("laius")
all_fields.remove("pikkus")
all_fields.remove("Kirjeldus")
all_fields.remove("author_years")
all_fields.add("type")


print(all_fields)
fields = list(all_fields)
fields.sort()
print(fields)

{'size', 'end_price', 'title', 'auction_name', 'img', 'src', 'tech', 'pikkus', 'year', 'start_price', 'author', 'Kirjeldus', 'author_years', 'laius'}
{'size', 'end_price', 'title', 'auction_name', 'img', 'src', 'tech', 'year', 'start_price', 'type', 'author'}
['auction_name', 'author', 'end_price', 'img', 'size', 'src', 'start_price', 'tech', 'title', 'type', 'year']

## Construct final DataFrame

In [56]:
clean_df = pd.DataFrame()
clean_df["url"] = tested_df["href"]
clean_df["src"] = ["haus"] * len(clean_df)
tested_df["year_end"] = tested_df["year_start"]
for col in ["auction_name", "date", "title", "author", "start_price", "end_price", "year", "year_start", "year_end", "tech", "size", "height", "width", "img"]: 
    clean_df[col] = tested_df[col]
for col in tech_df.columns:
    clean_df[col] = tech_df[col].fillna(0)
print(clean_df.shape)
clean_df.head()

(3310, 175)

,url,src,auction_name,date,title,author,start_price,end_price,year,year_start,...,kardinapits,klišee,kuldamine,marais´paber,pber,puitplaadile,seepia,klaas,värvimullad,pinnas
0,?c=teosed&l=et&id=2512&window=1&oid=3&form=0,haus,20.11.1997 14:01-20.11.1997 00:00,1997,NAINE PAABULINNUGA,Evald Okas,831.0,844.0,1939,1939.0,...,0,0,0,0,0,0,0,0,0,0
1,?c=teosed&l=et&id=2433&window=1&oid=3&form=0,haus,20.11.1997 14:01-20.11.1997 00:00,1997,TALLINNA RAEKOJA PLATS,Karl Burman (seenior),499.0,499.0,1920,1920.0,...,0,0,0,0,0,0,0,0,0,0
2,?c=teosed&l=et&id=2489&window=1&oid=5&form=0,haus,26.10.1998 14:16,1998,NATÜÜRMORT SIDRUNITEGA,Valerian Loik,1074.0,1074.0,1970,1970.0,...,0,0,0,0,0,0,0,0,0,0
3,?c=teosed&l=et&id=2509&window=1&oid=5&form=0,haus,26.10.1998 14:16,1998,MAASTIK TALUMAJAGA,Roman Nyman,1176.0,1176.0,1940,1940.0,...,0,0,0,0,0,0,0,0,0,0
4,?c=teosed&l=et&id=2568&window=1&oid=5&form=0,haus,26.10.1998 14:16,1998,Puulõike sünd,Eduard Wiiralt,230.0,556.0,1936,1936.0,...,0,0,0,0,0,0,0,0,0,0

In [16]:
#TODO: fix auction_name
#DONE: TODO: fix tech fields!!
#TODO: fix title Caps Lock
#TODO: year start and end
#TODO: old Haus prices are incorrect
for col in clean_df.columns:
    print(col)

url
src
auction_name
date
title
author
start_price
end_price
year
year_start
year_end
tech
size
height
width
img
akrüül
akvarell
akvatinta
autolito
autoritehnika
awagami
diatüüpia
digiprint
digitaalne
digitrükk
foto
giclee
graafika
grafiit
guašš
hanga
itaalia
joonistus
kartongtrükk
kastitaolises
keraamika
kips
kipsvaland
kivilito
kleebitud
kollaaž
koloreeritud
kriidiga
kriit
kuivnõel
käärilõige
kõrgtrükk
lametrükk
linool
linoolgravüür
linooll
linoollõige
linoolsügavtrükk
lito
litograafia
lõuend
lõuendil
made
marker
metsotinto
moku
monotüüpia
must
ofort
ofset-lito
oksüdograafia
paber
papile
papp
pastapliiats
pastel
pastell
pehmelakk
plastikaatlõige
pliiats
plm
polüvinüül
print
pronks
pruun
puidul
puit
puitraamis
punane
puugravüü
puugravüür
puugravüüri
puugravüürid
puulõige
ready
reservaaž
sangviin
segatehnika
serigraafia
siiditrükk
sinine
sulejoonistus
sõeltehnika
söejoonistus
söövitus
sügavtrükk
süsi
tempera
terrakota
tindiprint
tinditrükk
tint
toonlito
tušš
tuššijoonistus
vasegravüür
vasesöövitus
viievärviline
viltpliiats
vineer
vineeril
vineerilõige
vitrograafia
värviline
värvilised
värvipliiats
xerolito
õli
õlipastell
alu
carborundum
dubleeritud
email
kartong
kartongil
klaaskiudkangas
kolaaž
kollaaž;
kooritud
kõrg-
lateks
lehtkuld
liiv
lõued
lõuendpapil
masoniit
metall
metallplaat
monoprint
paberil
paberkollaaž
papil
parketeeritud
pleksiklaas
press-süsi
puitplaat
puu
pärgament
rulett
sulg
teega
tekstiil
toonitud
vaselõige
värv
värvpliiats
õlikriit
ülekanne
bituumen
kardinapits
klišee
kuldamine
marais´paber
pber
puitplaadile
seepia
klaas
värvimullad
pinnas

## Create new db/table (optional)

In [28]:
!pip install mysql-connector-python
import mysql.connector as mysql
import getpass


db = mysql.connect(
    host = "kanvas-auctions.cxljcprf9rvb.us-east-1.rds.amazonaws.com",
    user = "admin",
    passwd = getpass.getpass()
)
print(db)
cursor = db.cursor()
try:
    #cursor.execute("CREATE DATABASE kanvas")
    cursor.execute("CREATE table kanvas.test_4")
    cursor.execute("SHOW DATABASES")
    databases = cursor.fetchall() ## returns list of all databases
    print(databases)
except mysql.errors.Error as e:
    print(e)

Requirement already satisfied: mysql-connector-python in c:\users\admin\anaconda3\lib\site-packages (8.0.27)
Requirement already satisfied: protobuf>=3.0.0 in c:\users\admin\anaconda3\lib\site-packages (from mysql-connector-python) (3.19.3)
········
<mysql.connector.connection_cext.CMySQLConnection object at 0x00000199B4FE9C10>
4028 (HY000): A table must have at least one visible column.

## Connect and get existing database DataFrame, merge DataFrames

In [60]:
import sqlalchemy
import mysql.connector as mysql
import getpass

db_username = 'admin'
db_password = getpass.getpass()
db_ip       = 'kanvas-auctions.cxljcprf9rvb.us-east-1.rds.amazonaws.com'
db_name     = 'kanvas'
db_connection = sqlalchemy.create_engine('mysql+mysqlconnector://{0}:{1}@{2}/{3}'.
                                               format(db_username, db_password, 
                                                      db_ip, db_name))
print(db_connection)
db_data= None
try: # check if table and data exists
    db_data = pd.read_sql('SELECT * FROM test_4', db_connection)

except:
    print(clean_df.shape)
    # create table
    clean_df.to_sql(con=db_connection, name="test_4", if_exists = 'replace', index=False)

merged_df = pd.concat([db_data,clean_df.reindex(db_data.index)], axis=0, sort=False)
print(clean_df.shape, db_data.shape, merged_df.shape)
merged_df

········
Engine(mysql+mysqlconnector://admin:***@kanvas-auctions.cxljcprf9rvb.us-east-1.rds.amazonaws.com/kanvas)
(3310, 175)

AttributeError: 'NoneType' object has no attribute 'index'

## Continue merging DataFrames, change conflicting word forms

In [24]:
last_non_tech = list(merged_df.columns).index("img") 
print("### starting after", merged_df.columns[last_non_tech], "###")

# map tech columns that cause duplicate columns (db converts š->s, ž->z and so on)
mappings = {"guašš":["guašš", "guaśś", "guašs"], "kollaaž":["kollaaž", "kollaaź"], "tušš":["tušš", "tušs", "tuśś", "tuss"]}
for k, val in mappings.items():
    print(k, val)
    remaining_val = []
    for v in val:
        if v in merged_df.columns:
            remaining_val.append(v)
    if len(remaining_val) == 0:
        continue
        
    merged_df[k] = merged_df[remaining_val].max()
    for v in remaining_val:
        print(v)
        if v == k:
            continue
        merged_df.drop(v, axis=1, inplace=True)
print(list(merged_df.columns[:]))
for col in merged_df.columns[last_non_tech + 1:]:
    merged_df[col] = merged_df[col].fillna(0)
print(merged_df)
print(merged_df.shape)
print(clean_df.shape, db_data.shape, merged_df.shape)

level_0
index

## Commit changes by overwriting table

In [ ]:
merged_df.to_sql(con=db_connection, name="test_4", if_exists = 'replace', index=False)